@model IEnumerable<CRUD_Caminhoes.Models.Trucks>

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Index</h1>
<link rel="stylesheet" href="~/css/site.css" />
<p>
    <a asp-action="AddOrEdit">Adicionar Novo</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="row">
                @Html.DisplayNameFor(model => model.truckId)
            </th >
            <th scope="row">
                @Html.DisplayNameFor(model => model.truckName)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.truckDescription)
            </th >
            <th scope="row">
                @Html.DisplayNameFor(model => model.truckCreationDate)
            </th>
            <th scope="row"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.truckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truckName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truckDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.truckCreationDate)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.truckId" class="alert-link">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.truckId">Details</a> |*@
                <a asp-action="Delete" onclick="return confirm('Deleter o registro?')" asp-route-id="@item.truckId" class="alert-link">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
